.skills-container {
    width: 100%;
    max-width: 800px; /* Ustawienie szerokości */
    margin: 0 auto;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
}

.skill-item {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.skill-item svg {
    font-size: 50px;
    color: #00aaff;
}

 #skills {
    text-align: center;
}
